.container {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,241,255,1) 100%)
}
.btn-container {
    display: flex;
}

.btn-container button {
    margin: 10px;
}